---
  - name: Install Applications
    hosts: masters
    remote_user: ubuntu
    gather_facts: False
    tasks:
      - name: Copy docker compose yml file to the image
        copy:
          src: apps.yml
          dest: /home/ubuntu
          follow: yes
      - name: Deploy Application
        command: docker stack deploy -c apps.yml svc-nginx
